.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

span.Toaster__manager-top-right {
    top: 125px !important;
}

.Toaster__alert_close {
    top: -4px !important;
    font-size: 3rem !important;
    opacity: 1.5 !important;
}

.Toaster__alert_text {
    color: rgb(58, 7, 7) !important;
    font-size : 16px !important;

}

.Toaster__alert {
    background-color: #f1b13e !important;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
